.title {
    text-align: center;
    text-decoration:dashed;
    color: #121c55;
}

.title-description {
    text-align: center;
    font-size: 1.2em;
    color: #B8860B;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background: #f8f9fa;
    color: #222;
}
.navbar {
    background: #121c55;
    border-bottom: 3px solid #FFD700;
    height: 100px;
}
.nav-link, .navbar-brand {
    color: #FFD700 !important;
    cursor:pointer;
}

.nav-link {
     margin-right: 1em !important
}

.nav-link:hover {
    color: #B22222 !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-brand img {
    margin-top: 10px;
}